[submodule "listeners"]
	path = src/components/listeners
	url = https://github.com/Sarverott/bos.listeners.git
[submodule "models"]
	path = src/components/models
	url = https://github.com/sarverott/bos.models.git
[submodule "events"]
	path = src/components/events
	url = https://github.com/sarverott/bos.events.git
[submodule "controllers"]
	path = src/components/controllers
	url = https://github.com/sarverott/bos.controllers.git
[submodule "methods"]
	path = src/components/methods
	url = https://github.com/sarverott/bos.methods.git
[submodule "resources"]
	path = src/components/resources
	url = https://github.com/sarverott/bos.resources.git
[submodule "factors"]
	path = src/components/factors
	url = https://github.com/sarverott/bos.factors.git
[submodule "bridges"]
	path = src/components/bridges
	url = https://github.com/sarverott/bos.bridges.git
[submodule "actions"]
	path = src/components/actions
	url = https://github.com/sarverott/bos.actions.git
[submodule "operations"]
	path = src/components/operations
	url = https://github.com/sarverott/bos.operations.git
[submodule "toolsets"]
	path = src/components/toolsets
	url = https://github.com/sarverott/bos.toolsets.git
[submodule "services"]
	path = src/components/services
	url = https://github.com/sarverott/bos.services.git
[submodule "interfaces"]
	path = src/components/interfaces
	url = https://github.com/sarverott/bos.interfaces.git
[submodule "commands"]
	path = src/components/commands
	url = https://github.com/Sarverott/bos.commands.git
